.stat-container {
  /* background-color: #c5c6c7; */
  display: flex;
  padding: 3px;
  gap: 4px;
  height: 160px;
}

.stat-box {
  width: 120px;
  background-image: url("../../../public/StatHeader.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 90px;
  padding-bottom: 9px;
}

.stat-modifier {
  padding-top: 3px;
  font-size: xx-large;
  text-align: center;
  font-variant: small-caps;
}
.stat-title {
  font-size: medium;
  font-weight: 500;
  text-align: center;
  font-variant: small-caps;
}

.stat-value {
  padding-top: 3px;
  font-weight: semi-bold;
  font-size: medium;
  text-align: center;
  font-variant: small-caps;
}

.skill-box {
  align-items: center;
  font-variant: small-caps;
  display: flex;
  font-variant: small-caps;
  gap: 5px;
}

.skill-value {
  border-style: none;
  border-bottom: solid 1px black;
  background-color: #ced1dc;
  padding: 2px;
  width: 3ch;
}

.skill-name {
  font-size: large;
}
