.radiobutton--off {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  background-color: white;
  padding: 4px;
  transition-property: width, height;
  transition-duration: 0.3s;
}

.radiobutton--on {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: black;
  background-clip: content-box; /* support: IE9+ */
  padding: 4px;
  transition-property: width, height;
  transition-duration: 0.3s;
}

.radiobutton--off:hover,
.radiobutton--on:hover {
  cursor: pointer;
  height: 21px;
  width: 21px;
  transition-property: width, height;
  transition-duration: 0s;
}

.radiobutton-small--on:hover,
.radiobutton-small--off:hover {
  cursor: pointer;
  transition-property: width, height;
  transition-duration: 0s;
  height: 17px;
  width: 17px;
}

.radiobutton-small--off {
  height: 15px;
  width: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  color: white;
  background-color: white;
  padding: 4px;
  transition-property: width, height;
  transition-duration: 0.3s;
  border-radius: 50%;
}

.radiobutton-small--on {
  height: 15px;
  width: 15px;
  padding: 2px;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  color: black;
  background-color: black;
  background-clip: content-box; /* support: IE9+ */
  transition-property: width, height;
  transition-duration: 0.3s;
}
