.spell-item,
.spell-item--expanded,
.spell-item-invalid,
.spell-item--expanded-base,
.spell-item-editor-row {
  background-color: white;
  font-variant: small-caps;
  border-bottom: 1px lightslategray solid;
  padding: 3px;
  margin-left: 13px;
  margin-right: 13px;
  padding-left: 30px;
}

.spell-item--expanded-base {
  padding-left: 90px;
  border-bottom: 1px lightslategray solid;
  max-height: 1200px;
  overflow: hidden;
  transition: max-height 1s;
}

.spell-item-collapsed-base {
  padding: 3px;
  padding-left: 90px;
  font-variant: small-caps;
  max-height: 0;
  overflow: hidden;
  transition: max-height cubic-bezier(0, 1.12, 0, 0.66) 0.25s;
  margin-left: 13px;
  margin-right: 13px;
}

.spell-item:hover {
  background-color: rgba(211, 211, 211, 0.5);
  background-blend-mode: lighten;
}

.spell-item-editor-Row {
  display: flex;
  flex-direction: row;
}

.spell-item-editor {
  height: 2em;
  width: 100%;
  border-style: hidden;
  font-variant: small-caps;
}

.spell-edit-button {
  border: 1px;
  background-color: white;
  border-style: inset;
  border-radius: 3px;
  box-shadow: inset;
}

.spell-item-editor:hover {
  background-color: rgba(211, 211, 211, 0.5);
  background-blend-mode: lighten;
}

.spell-header {
  display: flex;
  font-variant: small-caps;
  height: 60px;
  width: 100%;
  background-image: url("../../../public/spellheader.svg");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.spell-level {
  flex: 0;
  padding-left: 20px;
  width: 50px;
}

.spell-type {
  flex: 1;
  text-align: center;
  font-size: x-large;
  width: 100%;
}

.spell-slot {
  padding-right: 50px;
}
