.container {
  width: 400px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

.Spell-Container {
  padding: 10px;
  border-style: none;
  border-left: 3px double black;
  border-right: 3px double black;
}
